
body{
    background-color: bisque;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('images\\pattern.png');
}
#myheader{
    background-color:violet;
   
}
nav{
  width: 1000px;  
  height: 50px;
  margin: 0 auto 20px;
  
}
#leftside{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}
.searchbox{
    padding: 10px;
    width: 200px;
    margin: 15px;
}
#master{
    float: right;
    width: 70%;
    margin-bottom: 20px;
}
footer{
    clear: both;
    width: 100%;
}
table , td,th{
    padding: 5px;
    border: 1px solid =black;
    border-collapse: collapse;
}
header,
nav,
section,
aside,
main,
article,
footer,figure{
display: block;
}
nav>ul{
list-style: none;
margin: 0;
padding: 0;
}
nav>ul>li{
float: left;
}
nav>ul>li>a{
display: block;
text-align: center;
text-decoration: none;
padding: 16px;
color: white;
font-weight: bold;
}
fieldset{
    border-color:#a593c2;
    border-width: 5px;
    background-color:lavender;
}
fieldset>legend{
   background-color:#a593c2;
   font-size: 20px;
   border-style: solid;

}
textarea{
    border-radius: 12px;
}

input{
    border-radius: 12px;
    
}
input:required,textarea:required{
    border-style: dashed;
}
input:focus:invalid{
    border-color: black;
}
input:valid{
border-color: green;
}
input:invalid{
    border-color:red;
    }
    #left{
        float: right;
        width :20%;
    
    }
    .column, .class-row , .column , .class-row2 ,.column , .class-row3{
        display: flex;
    }
    
.pie{
padding: 10px;
border: solid 3px white;
width: 200px;
margin: 10px;
background-color:pink;

}
button{
    border-radius: 15px;
    background-color: #a593c2;
    padding: 5px;
    color: white;
}
.pie .tittle  {
font-weight: bold;}

.pie .column div {
width: 50%;
}
.pie .row div {
    width: 50%;
    }
.pie .price{
    text-align: right;
}






















    @media only screen and(min-width:768px) {/*meeeeediiaaaaaaa aint working*/
        #master{
            display: flex;
        }
        #leftside{
            margin-left: 2%;
        }
        .class-columns{
            display: flex;
        }
    }